$color-light: #ffba00;
$color-dark: #273170;
$color-main: #ffffff;
$color-shadow: #4555b9;
$color-title: #272c4c;
$color-text: #3e3c3c;
$color-checkbox: #cbd4ec;


$content-width: 1297px;
$tablet-width: 1201px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;