body {
    font-family: $main-font;
    color: $color-text;
}

.container-wrap {
    display: flex;
    justify-content: center;
    max-width: 1960px;
    padding-top: 64px;
    padding-bottom: 56px;

    @include media-tablet {
        max-width: 1200px;
    }

    @include media-mobile {
        max-width: 390px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1200px;

    @include media-tablet {
        max-width: 798px;
        padding-right: 200px;
        padding-left: 200px;
    }

    @include media-mobile {
        max-width: 310px;
        padding-right: 40px;
        padding-left: 40px;
    }

}

.title {
    font-size: 32px;
    color: $color-title;

    @include media-mobile {
        font-size: 22px;
    }
}

.checkbox-container {
    font-size: 12px;
    display: flex;
    gap: 35px;
    margin-bottom: 60px;

    @include media-tablet {
        max-width: 840px;
    }

    @include media-mobile {
        flex-direction: column;
        gap: 20px;
        font-size: 14px;
    }
}

.label {
    display: flex;
    align-content: center;
    cursor: pointer;
}

.checkmark {
    position: relative;
    width: 13px;
    height: 13px;
    margin-right: 9px;
    background-color: $color-checkbox;
    border-radius: 2px;
}

.checkmark::before {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../../../../img/mark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.checkbox::checked+.checkmark::before {
    transform: translate(-50%, -50%) scale(1);
}

.checkbox {
    display: none;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 93px;
    max-width: 1200px;

    @include media-tablet {
        grid-template-columns: repeat(2, 1fr);
        max-width: 769px;
    }

    @include media-mobile {
        grid-template-columns: 1fr;
        max-width: 310px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 338px;
    max-height: 419px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(#4555b9, 0.2);

    &:hover {
        box-shadow: 0px 0px 20px rgba(#4555b9, 0.4);

        .card__button {
            color: $color-light;
            background-color: $color-dark;
        }
    }

    @include media-mobile {
        max-width: 310px;
        max-height: 402px;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;
    font-size: 14px;
}

.card__text {
    margin-top: 20px;
    max-width: 242px;
    line-height: 24px;
}

.card__img {
    max-width: 258px;
    max-height: 141px;
}

.card__title {
    font-size: 16px;
    font-weight: bold;
    color: $color-title;
}

.card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 15px;
    font-family: $main-font;
    color: $color-dark;
    background-color: $color-light;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 60px;
    margin-right: 7px;
    font-size: 16px;
    text-decoration: none;
    color: $color-text;
    border: 1px solid $color-light;
    border-radius: 5px;
}

.pagination a.active {
    color: $color-main;
    background-color: $color-light;
}

.dots {
    border: 0;
}

.pagination a.pagination-mobile,
.card_mobile {
    @include media-mobile {
        display: none;
    }
}